{% extends "base.html" %}

{% block content %}
<div class="container pt-5 hero">
    <div class="row align-items-center text-center text-md-left">
      
      <div class="col-lg-4">
        <h1 class="mb-3 display-3"></h1>
        <p>A platform for portfolio managment and deep learning for financial instrument time series prediction.</p>
      </div>
      <div class="col-lg-8">
        <img src="static/images/intro_sierpinski_triangle.png" alt="Image" class="img-fluid">
      </div>
    </div> 
  </div>
{% endblock %}

